root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# The project's C++ sources use tabs for indentation.
[*.{cpp,h,hpp}]
indent_style = tab
indent_size = 4

[*.{cmake,txt,md,yml,yaml,json}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
